* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  width: 308px;
  height: 48px;
  padding: 12px 16px;
  outline: none;
  font-size: 16px;
  background-color: #f1f2f6;
  border: 1px solid transparent;
  margin: 5px;
}
input:focus {
  background-color: #fff;
  border: 1px solid #5c6aa1;
}
button {
  height: 48px;
  cursor: pointer;
}
